name: Terraform Dev (fmt + validate)

on:
  pull_request:
    paths:
      - "envs/dev/**"
      - "modules/**"
  push:
    branches:
      - main
    paths:
      - "envs/dev/**"
      - "modules/**"

jobs:
  terraform-dev:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: envs/dev

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt check
        run: terraform fmt -check -recursive

      - name: Terraform init (no backend)
        run: terraform init -backend=false -input=false

      - name: Terraform validate
        run: terraform validate
