name: Terraform Prod (fmt + validate)

on:
  pull_request:
    paths:
      - "envs/prod/**"
      - "modules/**"
  workflow_dispatch:

jobs:
  terraform-prod:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: envs/prod

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt check
        run: terraform fmt -check -recursive

      - name: Terraform init (no backend)
        run: terraform init -backend=false -input=false

      - name: Terraform validate
        run: terraform validate
